<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{187,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,31}}</string>
				<key>sourceSize</key>
				<string>{187,31}</string>
			</dict>

			<key>ui_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{261,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{261,71}}</string>
				<key>sourceSize</key>
				<string>{261,71}</string>
			</dict>

			<key>ui_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{183,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,50}}</string>
				<key>sourceSize</key>
				<string>{183,50}</string>
			</dict>

			<key>ui_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{191,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,88}}</string>
				<key>sourceSize</key>
				<string>{191,88}</string>
			</dict>

			<key>ui_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{299,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,227}}</string>
				<key>sourceSize</key>
				<string>{299,227}</string>
			</dict>

			<key>ui_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,467},{44,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,27}}</string>
				<key>sourceSize</key>
				<string>{44,27}</string>
			</dict>

			<key>ui_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,280},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,21}}</string>
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>

			<key>ui_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,467},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,27}}</string>
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>

			<key>ui_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,485},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,25}}</string>
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>

			<key>ui_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,25}}</string>
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>

			<key>ui_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,50},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,49}}</string>
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>

			<key>ui_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,300},{138,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,166}}</string>
				<key>sourceSize</key>
				<string>{138,166}</string>
			</dict>

			<key>ui_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,472},{124,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,12}}</string>
				<key>sourceSize</key>
				<string>{124,12}</string>
			</dict>

			<key>ui_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,485},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,25}}</string>
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>

			<key>ui_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,180},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,29}}</string>
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>

			<key>ui_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,100},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,49}}</string>
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>

			<key>ui_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,228},{135,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,51}}</string>
				<key>sourceSize</key>
				<string>{135,51}</string>
			</dict>

			<key>ui_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,472},{58,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,35}}</string>
				<key>sourceSize</key>
				<string>{58,35}</string>
			</dict>

			<key>ui_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,467},{58,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,35}}</string>
				<key>sourceSize</key>
				<string>{58,35}</string>
			</dict>

			<key>ui_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,49}}</string>
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>

			<key>ui_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,485},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,25}}</string>
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>

			<key>ui_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,150},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,29}}</string>
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>UiTool.png</string>
			</dict>
		</dict>
</plist>